---
import type { Entry } from "contentful";
import type { ItemFields } from "../../models/content.model";
import Container from "../shared/Container.astro";
import SectionHeader from "../shared/SectionHeader.astro";

interface Props {
  content: Entry<ItemFields>[];
}

const { content } = Astro.props;
const data = Object.assign({}, ...content);
---

<Container class="about" id="about">
  <SectionHeader>
    <Fragment slot="title">{data.fields.title}</Fragment>
    <Fragment slot="subtitle">{data.fields.legend}</Fragment>
  </SectionHeader>

  <!-- About Paragraph -->
  <div class="cols">
    {
      [1, 2, 3].map((postNumber) => (
        <div class={`col${postNumber === 3 ? " col-full" : ""}`}>
          <div class="single-post-text">
            <p>
              {data.fields[`post${postNumber}`].content[0].content[0].value}
            </p>
          </div>
        </div>
      ))
    }
  </div>

  <!-- info list -->
  <div class="info-list">
    <ul>
      {
        data.fields.infoKey.map((key: ItemFields, index: number) => (
          <li>
            <strong>{key}:</strong> {data.fields.infoList[index]}
          </li>
        ))
      }
    </ul>
  </div>

  <div class="clear"></div>
</Container>
