---
import type { Entry } from "contentful";
import type { ItemFields, Plan, FeatureList } from "../../models/content.model";
import Container from "../shared/Container.astro";
import SectionHeader from "../shared/SectionHeader.astro";

interface Props {
  content: Entry<ItemFields>[];
}

const { content } = Astro.props;
const data = Object.assign({}, ...content);
---

<Container class="pricing" id="section-pricing">
  <SectionHeader>
    <Fragment slot="title">{data.fields.title}</Fragment>
    <Fragment slot="subtitle">{data.fields.legend}</Fragment>
  </SectionHeader>

  <!-- pricing items -->
  <div class="content-carousel">
    <div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">
      {
        data.fields.plans.map((item: Plan) => (
          <div class="item">
            <div class="pricing-item">
              <div class="icons">
                <i class={item.icon} />
              </div>
              <div class="name"> {item.name} </div>
              <div class="amount">
                <span class="number">
                  <span class="dollar">{item.amount.badge}</span>
                  <span>{item.amount.price}</span>
                  <span class="period">{item.amount.period}</span>
                </span>
              </div>
              <div class="feature-list">
                <ul>
                  {item.feature_list.map((feat: FeatureList) => (
                    <li class={feat.disabled ? "disable" : ""}>
                      {feat.text}
                      {feat.new && <strong>new</strong>}
                    </li>
                  ))}
                </ul>
              </div>
              <a href={item.cta.action} class="btn">
                <span class="animated-button">
                  <span>{item.cta.text}</span>
                </span>
                <i class={item.cta.icon} />
              </a>
            </div>
          </div>
        ))
      }
    </div>

    <!-- navigation -->
    <div class="navs">
      <span class="prev fas fa-chevron-left"></span>
      <span class="next fas fa-chevron-right"></span>
    </div>
  </div>
</Container>
