---
import type { Entry } from "contentful";
import type { ItemFields } from "../models/content.model";
import Preloader from "../components/shared/Preloader.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
import MetaTags from "../components/shared/MetaTags.astro";
import Scripts from "../components/shared/Scripts.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  lang: string;
  content: Entry<ItemFields>[];
}

const { title, lang, content } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <MetaTags lang={lang} title={title} />
  </head>
  <body class="home">
    <Preloader />
    <div class="container">
      <Header lang={lang} content={content} />
      <div class="wrapper">
        <slot />
      </div>
      <Footer />
    </div>
    <Scripts />
  </body>
</html>
